@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background-color: rgb(37, 37, 37);
  font-family: roboto;

  
}

body{
    display: grid;
  grid-template-rows: 1fr 6fr;
  grid-template-columns:1fr 4fr;
}

.heading{
  padding: 1rem;
  padding-right: 3rem;
  font-size: 2rem;
  background-color: rgb(56, 56, 56);
  color: #dadada;
  min-height: 4dvh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 1/3;
  border-bottom: solid 2px black;
  
}
.heading>.title{

  transition: all 0.2s ease-in-out;
  font-family: "Josefin Sans";
}
.heading>.title:hover{
  transform: scale(1.05);
  color: rgb(233, 233, 233);
  text-shadow: 0 0 4px rgba(255,255,255,0.3);

    grid-row: 2/3;
}
.side-nav{
  display: flex;
  gap: 3rem;
}
.heading button{
  padding: 0;
  outline: none;
  border: none;
  margin: 0;
  background: none;
  transition: all 0.2s ease-in-out;

}
.heading svg{
  height: 2.7rem;
  width: auto;
  background-color: rgb(56, 56, 56);
}

.heading button:hover{
  transform: scale(1.1);
}
.heading button:hover svg{
  background-color: rgb(56, 56, 58);
}
.side-bar{
  background-color: rgb(89, 89, 89);
}

.todo-list{
  background-color: #adadad;
      grid-column: 2/3;

}
